/**
 * Copyright 2007-2010 AjaxTags-Team
 *
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
/* Table */
table {
  border-collapse: collapse;
}

table th {
  background-color: silver;
}

table, th, td {
  border: 1px solid black;
}

/* Unit test results */
#logsummary {
  margin-bottom: 1em;
  padding: 1ex;
  border: 1px solid #000;
  font-weight: bold;
}

#logtable {
  width: 100%;
  border-collapse: collapse;
  border: 1px dotted #666;
}

#logtable td, #logtable th {
  text-align: left;
  padding: 3px 8px;
  border: 1px dotted #666;
}

#logtable .passed {
  background-color: #cfc;
}

#logtable .failed, #logtable .error {
  background-color: #fcc;
}

#logtable .nameCell {
  cursor: pointer;
}
